.Register {
    text-align: center;
    width: 80%;
}

.Register h2 {
    margin: 50px;
}


.Register form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}
.Register input {
    border-radius: 5px;
    border-color: #3d7dca;
    border-width: 3px;
    grid-column: 3 / 6;
    height: 30px;
    font-size: 1em;
    padding-left: 20px;
}
.Register form input[type=submit] {
    display: block;
    width: fit-content;
}
.Register input[type=email] {
    grid-row: 1 / 2;
}
.Register input[type=password] {
    grid-row: 2 / 3;
}
.Register form button {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.Register .AlreadyExists button {
    margin-top: 20px;
}