.Battle {
    width: 100%;
    text-align: center;
}

.Decks {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.BattleGrounds {
    text-align: center;
    margin-bottom: 70px;
}
.CardsDiv {
    display: flex;
    justify-content: space-around;
}
.CardsDiv h2 {
    align-self: center;
}
.PlayerDiv {
    display: flex;
    flex-direction: column;
}
.PlayerDiv > span {
    font-size: 20px;
    font-weight: bold;
}
button {
    background-color: #3d7dca;
    color: white;
    font: 19px monospace;
    font-weight: bold;
    height: 40px;
    border: 3px solid #3B4CCA;
    border-radius: 5px;
}
hr {
    background-color: red;
    margin-top: 40px;
    width: 60%;
    border: 6px solid red;
    border-radius: 10px;
}
.TextDiv {
    background-color: black;
    color: white;
    font-size: 18px;
    width: 90%;
    margin: 10px auto 0 auto;
    padding: 10px;
    border-radius: 10px;
}
.TextDiv span {
    display: block;
}