.Play {
    width: 100%;
    text-align: center;
}

.Decks {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.BattleGrounds {
    text-align: center;
    margin: 0 90px 70px 90px;
}
.CardsDiv {
    display: flex;
    justify-content: space-around;
}
.CardsDiv h2 {
    align-self: center;
}
.PlayerDiv {
    display: flex;
    flex-direction: column;
}
.PlayerDiv > span {
    font-size: 20px;
    font-weight: bold;
}
button {
    background-color: #3d7dca;
    color: white;
    font: 19px monospace;
    font-weight: bold;
    height: 40px;
    border: 3px solid #3B4CCA;
    border-radius: 5px;
}
hr {
    background-color: red;
    margin-top: 40px;
    width: 60%;
    border: 6px solid red;
    border-radius: 10px;
}
.TextDiv {
    background-color: rgb(237, 228, 228);
    color: black;
    font-family: 'PKMN RBYGSC';
    font-size: 18px;
    min-width: 504px;
    height: 201px;
    margin: auto auto auto auto;
    padding: 10px;
    border: 3px solid black;
    border-top: 5px solid black;
    border-radius: 10px;
    position: relative;
}
.TextDiv span {
    display: block;
    margin: 10px 0 10px 0;
}
.TextDiv::before {
    content: '';
    background-color: rgb(237, 228, 228);
    width: 544px;
    height: 240px;
    position: absolute;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    top: -9.5px;
    left: -10px;
    z-index: -1;
}