.Arena {
    width: 100%;
    color: #081820;
    margin: 60px auto 40px;
}
.Arena .buttonDiv {
    display: flex;
    width: 80%;
    margin: auto;
}
.Arena button {
    background-color: #346856;
    color: #e0f8d0;
    border-color: #081820;
}
.Arena button:hover {
    background-color: #081820;
}

.playerDiv {
    display: flex;
    justify-content: space-evenly;
}


.Table {
    margin: auto;
    width: 95%;
    background-color: #346856;
    display: flex;
    justify-content: space-around;
    border: 3px solid #081820;
    border-radius: 10px;
}

.hp-display {
    color:  #e0f8d0;
    font-size: 24px;
    margin: 10px;
}
.Player1Table {
    display: flex;
    flex-direction: column;   
}
.moveDiv {
    display: flex;
    flex-direction: column;
}
.moveDiv button {
    margin-bottom: 15px;;
}

.Player2Table {
    display: flex;
    flex-direction: column;
}


.Table .screen {
    background-color: rgb(237, 228, 228);
    color: black;
    font-family: 'PKMN RBYGSC';
    font-size: 24px;
    width: 40%;
    height: 200px;
    margin: auto 0;
    padding: 10px;
    border: 3px solid black;
    border-top: 5px solid black;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
/* .Table .screen::before {
    content: '';
    background-color: rgb(237, 228, 228);
    width: 544px;
    height: 240px;
    position: absolute;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;    
    box-sizing: border-box;
    top: -9.5px;
    left: -10px;
    z-index: 1;
} */
.Table .screen > * {
    height: 100%;
}

.script {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    line-height: 1.8em;
}

.mainTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: auto;
}
.mainTable > span {
    margin: auto;
}
.mainTable > span:hover {
    cursor: pointer;
}
.screen .fight {
    grid-column: 1/2;
    grid-row: 1/2;
}
.screen .switch {
    grid-column: 2/3;
    grid-row: 1/2;
}
.screen .item {
    grid-column: 1/2;
    grid-row: 2/3;
}
.screen .defend {
    grid-column: 2/3;
    grid-row: 2/3;
}
.backBtn:hover {
    cursor: pointer;
    /* width: fit-content; */
}

.fightMenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 10px;
}
.fightMenu > span {
    cursor: pointer;
}
/* selects all spans except the back button */
.fightMenu span:not(:last-child) {
    text-transform: uppercase;
}

.switchMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.switchOptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.switchOptions > span {
    margin-right: 20px;
}
.switchOptions > span:hover {
    cursor: pointer;
}



.Bench {
    background-color: #e0f8d0;
    margin: 30px auto;
    width: 95%;
    border: 3px solid #081820;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.player1Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.player2Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

