.Arena {
    width: 100%;
    color: #081820;
    margin: 60px auto 40px;
}
.Arena .buttonDiv {
    display: flex;
    width: 80%;
    margin: auto;
}
.Arena button {
    background-color: #346856;
    color: #e0f8d0;
    border-color: #081820;
}
.Arena button:hover {
    background-color: #081820;
}

.playerDiv {
    display: flex;
    justify-content: space-evenly;
}

.Bench {
    margin: 30px auto;
    width: 95%;
    background-color: #346856;
    height: 300px;
    border: 3px solid #081820;
    border-radius: 10px;
}

.Table {
    margin: auto;
    width: 95%;
    background-color: #346856;
    display: flex;
    justify-content: space-around;
    border: 3px solid #081820;
    border-radius: 10px;
}

.Player1Table {
    display: flex;
    flex-direction: column;   
}

.Player2Table {
    display: flex;
    flex-direction: column;   
}

.Table .screen {
    background-color: rgb(237, 228, 228);
    color: black;
    font-family: 'PKMN RBYGSC';
    font-size: 18px;
    min-width: 504px;
    height: 201px;
    margin: auto auto auto auto;
    padding: 10px;
    border: 3px solid black;
    border-top: 5px solid black;
    border-radius: 10px;
    position: relative;
}
.Table .screen span {
    display: block;
    margin: 10px 0 10px 0;
}