.LogIn {
    text-align: center;
    width: 80%;
}
.LogIn h2 {
    margin: 50px;
}

.LogIn form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 40px;
}




.LogIn input {
    border-radius: 5px;
    border-color: #3d7dca;
    border-width: 3px;
    grid-column: 3 / 6;
    height: 30px;
    font-size: 1em;
    padding-left: 20px;
}

.LogIn input[type=email] {
    grid-row: 1 / 2;
}

.LogIn input[type=password] {
    grid-row: 2 / 3;
}

.LogIn form button {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.LogIn .NotFound button {
    margin-top: 20px;
}