.UserStats {
}
.UserStats h1 {
    text-align: center;
    margin-bottom: 14px;
    color: red;
}
.UserStats p {
    text-align: center;
}
.UserStats ul {
    list-style: none;
    padding: 0;
}

.win-loss {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 20px;
    max-width: 80%;
}
.win-loss p:first-of-type {
    font-weight: bold;
}

.my-items {

}
.my-items p {
    text-align: center;
}
.my-items .item {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    margin: 10px;
}
.my-items .item-name {
    font-size: 1.4em;
    font-weight: bold;
}


.pokemon {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 30px 0 30px 30px;
}
.pokemon div {
    margin-bottom: 10px;
}
.pokemon .label {
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}
.pokemon .content {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 0;
    display: block;
}
.pokemon .pokemon-stat {
    font-size: 1.2em;
    margin-top: 5px;
}
.pokemon .stat-value {
    margin-left: 10%;
}

.pokemon-list hr {
    width: 80%;
    border: .1em solid rgba(255, 0, 0, 0.386);
    border-radius: 5px;
}

.getDeck {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 500px) {
    .my-items p {
        margin-bottom: 8px;
    }
    .my-items .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: unset;
        margin-bottom: 30px;
    }

    /* --------------------------------- */

    .pokemon {
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 0 30px 0;
    }
    .pokemon div {
        margin-bottom: 20px;
    }
    .pokemon .label {
        text-align: center;
    }
    .pokemon .content {
        text-align: center;
    }
    .pokemon .pokemon-stat {
        font-size: 1.2em;
    }
    .pokemon .stat-value {
        margin-left: 0;
    }
    
    hr {
        border: .2em solid rgba(255, 0, 0, 0.815);
    }
    
    .getDeck {
        display: flex;
        flex-direction: column;
    }
}