.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.center {
  display: block;
  margin: auto;
}

h1 {
  margin: 80px;
}

p {
  font-size: 1.2em;
}

button {
  background-color: #3d7dca;
  color: white;
  /* width: fit-content; */
  display: inline-block;
  white-space: nowrap;
  font: 19px monospace;
  margin: auto;
  padding: 0 10px;
  font-weight: bold;
  height: 40px;
  border: 3px solid #3B4CCA;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(65, 93, 255);
}