body {
    background-color: #ffcb05;
    font-family: monospace;
    margin: 0;
}

@font-face {
    font-family: "PKMNRBYGSC";
    src: local("PKMNRBYGSC"),
        url("./Fonts/PKMNRBYGSC.ttf"),
        format("truetype");
}
@font-face {
    font-family: "pokemon-hollow";
    src: local("pokemon-hollow"),
        url("./Fonts/pokemon-hollow.ttf"),
        format("truetype");
}
@font-face {
    font-family: "pokemon-solid";
    src: local("pokemon-solid"),
        url("./Fonts/pokemon-solid.ttf"),
        format("truetype");
}