.Arena {
    width: 100%;
    color: #0f380F;
    margin: 60px auto 40px;
}
.Arena .buttonDiv {
    display: flex;
    width: 80%;
    margin: auto;
}
.Arena button {
    background-color: #346856;
    color: #e0f8d0;
    border-color: #081820;
}
.Arena button:hover {
    background-color: #081820;
}

.playerDiv {
    display: flex;
    justify-content: space-evenly;
}


.Table {
    margin: auto;
    width: 95%;
    background-color: #306230;
    display: flex;
    justify-content: space-around;
    border: 3px solid #0f380f;
    border-radius: 10px;
}

.hp-display {
    color:  #e0f8d0;
    font-size: 24px;
    margin: 10px;
}
.level-display {
    color:  #e0f8d0;
    font-size: 24px;
    margin: 10px;
}
.Player1Table {
    display: flex;
    flex-direction: column;   
}
.moveDiv {
    display: flex;
    flex-direction: column;
}
.moveDiv button {
    margin-bottom: 15px;;
}

.Player2Table {
    display: flex;
    flex-direction: column;
}

.backBtn {
    font-weight: bold;
}

.Table .screen {
    /* background-color: rgb(237, 228, 228); */
    background-color: #cadc9f;
    /* color: black; */
    color: #081820;

    font-family: 'PKMN RBYGSC';
    font-size: 24px;
    width: 40%;
    height: 200px;
    margin: auto 0;
    padding: 10px;
    border: 3px solid #081820;
    border-top: 5px solid #081820;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
/* .Table .screen::before {
    content: '';
    background-color: rgb(237, 228, 228);
    width: 544px;
    height: 240px;
    position: absolute;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 10px;    
    box-sizing: border-box;
    top: -9.5px;
    left: -10px;
    z-index: 1;
} */
.Table .screen > * {
    height: 100%;
}

.script {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    line-height: 1.8em;
}

.mainTable {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: auto;
}
.mainTable > span {
    margin: auto;
}
.mainTable > span:hover {
    cursor: pointer;
}
.screen .fight {
    grid-column: 1/2;
    grid-row: 1/2;
}
.screen .switch {
    grid-column: 2/3;
    grid-row: 1/2;
}
.screen .item {
    grid-column: 1/2;
    grid-row: 2/3;
}
.screen .defend {
    grid-column: 2/3;
    grid-row: 2/3;
}
.backBtn:hover {
    cursor: pointer;
    /* width: fit-content; */
}

.fightMenu {
    height: 100%;
    display: grid;
    margin: 0 7%;
    grid-template-rows: repeat(5, 1fr);
    text-align: left;
}
.fightMenu > span {
    cursor: pointer;
}
.fightMenu .first-move {
    grid-row: 1 / 2;
}
.fightMenu .second-move {
    grid-row: 2 / 3;
}
/* selects all spans except the back button */
.fightMenu span:not(:last-child) {
    text-transform: uppercase;
}
.fightMenu .backBtn {
    grid-row: 5 / 6;
}

.switchMenu {
    text-align: left;
    overflow-y: auto;
    overflow-x: clip;
}
.switchMenu > p {
    font-size: .9em;
    margin-top: 20px;
}
.switchOption {
    display: grid;
    grid-template-columns: 160px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 18px 18px;
    border-radius: 3px;
    padding: 5px 5px;
}
.switchOption:hover {
    cursor: pointer;
    background-color: #346856;
}
.switchOption > .pokeName {
    grid-column: 1 / 4;
    transform: scale(1, 1);
}
.switchOption > .L {
    grid-column: 4 / 5;
    font-weight: bold;
    transform: scale(1, .7);
}
.switchOption > .lvl {
    grid-column: 6 / 11;
    font-weight: bold;
    transform: scale(1, .7);
}
.switchOption > .hp {
    grid-column: 4 / 11;
    grid-row: 2 / 3;
    font-weight: bold;
    transform: scale(1, .7);
}
.switchMenu .backBtn {
    padding-top: 7px;
    display: inline-block;
}


.itemMenu .itemsContainer {
    height: 100px;
    margin-top: 20px;
    overflow-y: scroll;
    text-align: start;
}
.itemOption {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr;
}
.itemOption .name:hover {
    cursor: pointer;
}
.itemOption .name {
    font-size: .8em;
    text-transform: uppercase;
    grid-column-start: 4;
    grid-column-end: 8;
}
.itemOption .quantity {
    font-size: .7em;
    grid-column-start: 6;
    grid-row-start: 2;
}
.itemMenu .backBtn {
    position: absolute;
    left: 40px;
    bottom: 20px;
}

.noItemsDiv span:first-of-type {
    display: block;
    color: rgba(255, 0, 0, 0.721);
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 50px;
}
.noItemsDiv .backBtn {
    position: absolute;
    left: 40px;
    bottom: 20px;
}


.Bench {
    background-color: #0f380F;
    color: #9bbc0f;
    margin: 30px auto;
    width: 95%;
    border: 3px solid #0f380f;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.player1Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.player2Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Discard {
    background-color: #9bbc0f;
    color: #306230;
    width: 95%;
    margin: auto;
    border: 3px solid #306230;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.Discard h2 {
    color: #0f380f;
}
.Discard h3 {
    color: #0f380f;
}