.Arena {
    width: 100%;
    color: #0f380F;
    margin: 60px auto 40px;
}
.Arena .buttonDiv {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.Arena button {
    background-color: #346856;
    color: #e0f8d0;
    border-color: #081820;
    width: 150px;
}
.Arena button:hover {
    background-color: #081820;
}

.playerDiv {
    display: flex;
    justify-content: space-evenly;
}


.Table {
    margin: auto;
    width: 95%;
    background-color: #306230;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #0f380f;
    border-radius: 10px;
    padding: 0 0 20px 0;
}
.Table h1 {
    margin: 40px;
}


.hp-display {
    color:  #e0f8d0;
    font-size: 24px;
    margin: 10px;
}
.level-display {
    color:  #e0f8d0;
    font-size: 24px;
    margin: 10px;
}
.Player1Table {
    display: flex;
    flex-direction: column;   
}
.moveDiv {
    display: flex;
    flex-direction: column;
}
.moveDiv button {
    margin-bottom: 15px;;
}

.Player2Table {
    display: flex;
    flex-direction: column;
}

.player-header {
    font-weight: bold;
    text-align: center;
}


.Bench {
    background-color: #0f380F;
    color: #9bbc0f;
    margin: 30px auto;
    width: 95%;
    border: 3px solid #0f380f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.player-benches {
    display: flex;
    justify-content: space-around;
}
.player1Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.player2Bench {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Discard {
    background-color: #9bbc0f;
    color: #306230;
    width: 95%;
    margin: auto;
    border: 3px solid #306230;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.Discard h2 {
    color: #0f380f;
}
.Discard h3 {
    color: #0f380f;
}


@media screen and (max-width: 600px) {
    .Table {
        width: 100%;
        border: none;
        background-color: #8bac0f;
    }
}

